@model Diplom.Models.OrderBuh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PRICE" class="control-label"></label>
                <input asp-for="PRICE" class="form-control" />
                <span asp-validation-for="PRICE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CakeID" class="control-label"></label>
                <select asp-for="CakeID" class="form-control" asp-items="ViewBag.CakeID">
                    <option selected="selected" disabled="disabled">Выберите Торт</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID">
                    <option selected="selected" disabled="disabled">Выберите пользователя</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RECEIVING_ADDRESS" class="control-label"></label>
                <input asp-for="RECEIVING_ADDRESS" class="form-control" />
                <span asp-validation-for="RECEIVING_ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="test" class="control-label"></label>
                <input asp-for="test" class="form-control" />
                <span asp-validation-for="test" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
